@font-face {
	font-family: Gilroy-Bold;
	src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
	font-family: "Gilory-Regular";
	src: url("../fonts/Gilroy-Regular.ttf");
}


html, body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
}

body {
	background-color: #000;
	color: #fff;
	overflow: hidden;
	font-family: Gilroy-Bold;
}

.content {
	margin: 0 auto;
	width: 95vw;
	box-sizing: content-box;
}

body.medical {
	margin: 0 auto;
	width: 95vw;	
	background-color: #ED1C24;
}

body.additional {
	animation: colorchange 1.5s;
	-webkit-animation: colorchange 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-direction: reverse;	
	-webkit-animation-direction: reverse;
	animation-timing-function:  ease-out;	
	-webkit-animation-timing-function: ease-out;
	
	background-color: #4CA517;

}

body.splash {
	background-color: #fff;
}

.indexTopBox {
	box-sizing: content-box;
	width: 100%;
	height: 30vh;
	display: table;
}

.indexTopBox .tableRow {
	display: table-row;
}

.indexTopBox .tableRow .cellLeft {
	display: table-cell;
	width: 80%;
	height: 100%;
	box-sizing: content-box;	
	font-size: 15em;	
	vertical-align: middle;
}
.indexTopBox .tableRow .cellRight {
	display: table-cell;
	width: 20%;
	height: 100%;
	box-sizing: content-box;
	vertical-align: middle;
	text-align: right;	
}

.indexBottomBox {
	box-sizing: content-box;
	width: 100%;
	height: 55vh;
	display: table;
}

.indexBottomBox .tableRow {
	display: table-row;
}

.indexBottomBox .tableRow .cell { 
	display: table-cell;
	padding: 0;
	vertical-align: bottom;
}

.indexBottomBox  .tableRow .cell.firstFighter {
	border-bottom: 5px solid red;
	border-left: #333333 1px solid;
	box-sizing: content-box;
	background-color: #1A1A1A;
}

.indexBottomBox  .tableRow .cell.number {
	font-size: 8em;
	text-align: right;
	vertical-align: bottom;
}

.indexBottomBox  .tableRow .cell.text {
	font-size: 4em;
	padding-left: 40px;
	vertical-align: bottom;
}

.indexBottomBox .tableRow .cell.secondFighter {
	border-bottom: 5px solid blue;
	border-left: #333333 1px solid;
	box-sizing: content-box;
	background-color: #1A1A1A;
}

.indexBottomBox .tableRow .cell span {
	font-size: 1.5em;
}

.indexBottomBox .tableRow .cellTwo {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 3em;
	
}

/* Medical */

.medicalTopBox {
	box-sizing: content-box;
	width: 100%;
	height: 30vh;
	display: table;
}

.medicalTopBox .tableRow {
	display: table-row;
}

.medicalTopBox .tableRow .cellLeft {
	display: table-cell;
	width: 80%;
	height: 100%;
	box-sizing: content-box;	
	font-size: 15em;	
	vertical-align: middle;
}
.medicalTopBox .tableRow .cellRight {
	display: table-cell;
	width: 20%;
	height: 100%;
	box-sizing: content-box;
	vertical-align: middle;
	text-align: right;	
}

.medicalBottomBox {
	box-sizing: content-box;
	width: 100%;
	height: 10vh;
	display: table;
}

.medicalBottomBox.second {
	height: 30vh;
}

.medicalBottomBox .tableRow {
	display: table-row;
}

.medicalBottomBox .tableRow .cell { 
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.medicalBottomBox .tableRow .cell.timerText { 
	font-size: 12em;
}

.medicalBottomBox .tableRow .cell.bottom { 
	font-size: 3.5em;
}

.medicalBottomBox .tableRow .cell.bottom span { 
	font-size: 1.5em;
}

/* Splash */

.splashTopBox {
	box-sizing: content-box;
	width: 100%;
	height: 100vh;
	display: table;
}

.splashTopBox .tableRow {
	display: table-row;
}

.splashTopBox .tableRow .cell { 
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}


/* Additional */

.additionalTopBox {
	box-sizing: content-box;
	width: 100%;
	height: 30vh;
	display: table;
}

.additionalTopBox .tableRow {
	display: table-row;
}

.additionalTopBox .tableRow .cellLeft {
	display: table-cell;
	width: 80%;
	height: 100%;
	box-sizing: content-box;	
	font-size: 15em;	
	vertical-align: middle;
	text-align: center;
}
.additionalTopBox .tableRow .cellRight {
	display: table-cell;
	width: 20%;
	height: 100%;
	box-sizing: content-box;
	vertical-align: middle;
	text-align: right;	
}

.additionalBottomBox {
	box-sizing: content-box;
	width: 100%;
	height: 70vh;
	display: table;
}

.additionalBottomBox .tableRow {
	display: table-row;
}

.additionalBottomBox .tableRow .cell { 
	display: table-cell;
	padding: 0;
	vertical-align: bottom;
	text-align: center;
	width: 50%;
	font-size: 4em;
}

.additionalBottomBox .tableRow .cell span { 
	font-size: 1.5em;
}

@keyframes colorchange {
	0%   {background: #4CA517;}
	25%  {background: #468E17;}
	50%  {background: #3B7715;}
	75%  {background: #2E5B10;}
	100% {background: #274C0F;}
}

@-webkit-keyframes colorchange {
	0%   {background: #4CA517;}
	25%  {background: #468E17;}
	50%  {background: #3B7715;}
	75%  {background: #2E5B10;}
	100% {background: #274C0F;}
}